html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;

    height: 100%;
}

.main-header{
    width: 100%;
    height: 100vh;

    background-image: url('../images/main-bg.jpg');
    background-size: cover;
    position: relative;

}

.navigasi{
    width: 100%;
    height: 60px;
    background-color: #000;
    opacity: 0.70;

    padding-left: 20px;
    padding-top: 20px;
    color: #FFF;
    font-weight: bold;

    display: flex;
    font-family: 'Roboto';
    position: fixed;

}

.menu{
    color: #FFF;
    right: 0;

    overflow: hidden;
    float: right;
    margin-left: 50px;
}

a{
    text-decoration: none;
    color: #FFFF;
    margin-right: 20px;
}

#home {
    height: 40vh;
    width: 100%;
    background-color: royalblue;
}